@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "SK_Cuber";
  src: url("./fonts/SK-Cuber.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
    --font-skcuber: "SK_Cuber", cursive;
    --font-leaguespart: "League Spartan", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
}


@theme {
  /* Planet colors */
  --color-planet0: rgb(255, 120, 0);
  --color-planet1: #2f6ba0;
  --color-planet2: rgb(221, 165, 22);
  --color-planet3: rgb(92, 180, 247);
  --color-planet4: rgb(202, 88, 71);
  --color-planet5: rgb(225, 136, 141);
  --color-planet6: rgb(212, 179, 114);
  --color-planet7: rgb(55, 128, 195);
  --color-planet8: rgb(104, 147, 250);
  --color-planet9: rgb(225, 178, 148);
}

#root {
    /* margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

body {
    background-image: url("./assets/img/background-mod.png");
}

.reflect-img {
  -webkit-box-reflect: below 2px -webkit-gradient(
    linear, left top, left bottom,
    from(transparent),
    color-stop(0.7, transparent),
    to(rgba(255, 255, 255, 0.5))
  );
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
}

.reflect-img:hover {
  -webkit-transform: scale(1.4);
  margin: 0 1.5em;
}

