@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@font-face {
  font-family: "SK_Cuber";
  src: url("./fonts/SK-Cuber.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@theme {
    --font-skcuber: "SK_Cuber", cursive;
    --font-leaguespart: "League Spartan", sans-serif;
    --font-opensans: "Open Sans", sans-serif;
    --font-audiowide: "Audiowide", cursive;
    --font-oxanium: "Oxanium", sans-serif;
}


@theme {
  /* text colors */
  --color-sun: rgb(255, 120, 0);
  --color-mercury: #2f6ba0;
  --color-venus: rgb(221, 165, 22);
  --color-earth: rgb(92, 180, 247);
  --color-mars: rgb(202, 88, 71);
  --color-jupiter: rgb(225, 136, 141);
  --color-saturn: rgb(212, 179, 114);
  --color-uranus: rgb(55, 128, 195);
  --color-neptune: rgb(104, 147, 250);
  --color-pluto: rgb(225, 178, 148);
--color-haumea: rgb(201, 169, 138);
--color-makemake: rgb(199, 153, 113);
--color-eris: rgb(189, 189, 189); 
--color-ceres: rgb(169, 169, 169);
--color-vesta: rgb(150, 150, 150);
--color-eros: rgb(130, 130, 130);
--color-milkyway: rgb(200, 180, 255);
--color-andromeda: rgb(180, 150, 255);

}



#root {
    /* margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; */
}

body {
    background-image: url("./assets/img/background-mod.png");
}

/* .reflect-img {
  -webkit-box-reflect: below 2px -webkit-gradient(
    linear, left top, left bottom,
    from(transparent),
    color-stop(0.7, transparent),
    to(rgba(255, 255, 255, 0.5))
  );
  -webkit-transition: all 0.3s;
  -webkit-transform-origin: 50% 100%;
} */

/* .reflect-img:hover {
  -webkit-transform: scale(1.4);
  margin: 0 1.5em;
} */

